<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" href="http://127.0.0.1:5000/static/network_style.css">-->
<div id="{{ figure_id }}_options">
  <button type="button" class="download btn btn-link">Save JSON</button>
  
  
  
</div>
<div id="{{ figure_id }}">
  {{ background_svg }}
</div>
<script src="http://127.0.0.1:5000/static/require.js"></script>
<script src="http://127.0.0.1:5000/static/jquery-3.3.1.min.js"></script>
<script type="text/Javascript">
{{ javascript_source }}
</script>
