<html>
    <head>
        <title>MetQuest</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
       <script>window.onload = function(){d3.selectAll(".node.rxn")
 .classed("hidden",false);};</script>
<style>.navbar-brand
{
  font-size: 30px !important;
  color: gray!important;
}</style>
    </head>
<body>
<nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="{{url_for('inputs')}}">MetQuest</a>
</nav>
<div class="container">

<h3>Summary</h3><br>

<ul class="list-group">
  <li class="list-group-item">Number of metabolites in scope :  <strong>{{len_scope}}</strong></li>
  <li class="list-group-item">Target metabolite :  <strong>{{tar_met}}</strong></li>
  <li class="list-group-item">Pathway size cutoff :  <strong>{{cut_len}}</strong></li>
  <li class="list-group-item">Number of all branched pathways found from seed :  <strong>{{all_cnt}}</strong></li>
  <li class="list-group-item">Number of all branched pathways from seed whose size <= {{cut_len}} :  <strong>{{cut_cnt}}</strong></li>
  <li class="list-group-item">Minimum number of steps to produce :  <strong>{{minsteps}}</strong></li>
  <li class="list-group-item">Number of branched pathways from source whose size <= {{cut_len}} :  <strong>{{cut_branched_paths}}</strong></li>
  <li class="list-group-item">No. of cyclic pathways {{tar_met}} can be produced :  <strong>{{cut_cyclic}}</strong></li>
</ul>
</div>
<div class="container">
<h4>Following two pathways are the most different pathways that were detected between the source and the target metabolites. There can be other combinations that can be found. For finding all the combinations, please use the function find_jaccard_between_paths.</h4>
  
<h3>Pathway 1:</h3><br>&nbsp; <a href="{{url_for('full1')}}" target=_blank>Open <i class="fas fa-external-link-alt"></i></a>
 {{pathway1 | safe}}<br>
    
<h3>Pathway 2:</h3><br>&nbsp; <a href="{{url_for('full2')}}" target=_blank>Open <i class="fas fa-external-link-alt"></i></a>
{{pathway2 | safe}}<br>
   
</div>



</body>

</html>
